asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0.1
idna==3.6
isodate==0.6.1
pyparsing==3.1.1
rdflib==7.0.0
regex==2023.12.25
requests==2.31.0
six==1.16.0
SPARQLWrapper==2.0.0
sqlparse==0.4.4
urllib3==2.1.0
gunicorn>=23.0.0