{% extends 'pubby/base.html' %}
{% block content %}
    {% load static %}


    <!--content-->
    {% include "pubby/header.html" %}
    <main class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8">
            <div class="row">
                <h1>SPARQLer - General purpose processor</h1>
            </div>

            <div class="row">

                <form action="https://data.judaicalink.org/sparql/query" method="get" name="form" id="form">
                    <div class="row">
                        <p class="lead">General SPARQL query : input query, set any options and press "Get Results"</p>
                        <p class="lead">You can find the Ontology here: <a
                                href="https://ontology.judaicalink.org/judaicalink-ontology" target="_blank">https://ontology.judaicalink.org/judaicalink-ontology</a>.
                        </p>
                    </div>
                    <div class="row">
	<textarea name="query" id="query" cols="70" rows="20" class="shadow-sm">
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX gndo: <http://d-nb.info/standards/elementset/gnd#>
PREFIX jl: <http://data.judaicalink.org/ontology/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX geo: <http://www.opengis.net/ont/geosparql#>

SELECT *
        WHERE {?s ?p ?o}
LIMIT 10</textarea>
                    </div>
                        <div class="row mt-3 col-xl-12">
                            <div class="input-group">
                  <span class="input-group-text">Query
                  Target graph URI (or use <code>FROM</code> in the query)</span>
                                <select class="form-control" name="default-graph-uri" id="default-graph-uri">
                                    <option value="" selected>All</option>
                                    <option value="http://data.judaicalink.org/data/gba">Gidal Image Archive</option>
                                    <option value="http://data.judaicalink.org/data/sosy">Soundscape Synagogue</option>
                                    <option value="http://data.judaicalink.org/data/epi">Epidat</option>
                                    <option value="http://data.judaicalink.org/data/ep">Entity Pages</option>
                                    <option value="http://data.judaicalink.org/data/compact-memory">Linking Compact
                                        Memory - Pages
                                    </option>
                                    <option value="http://data.judaicalink.org/data/cm-tagme">Linking Compact Memory -
                                        Resources and References
                                    </option>
                                    <option value="http://data.judaicalink.org/data/dbp-wiki-geo-links">DBpedia and
                                        Wikipedia Geographical External Links
                                    </option>
                                    <option value="http://data.judaicalink.org/datasets/yivo">Yivo Encyclopedia</option>
                                    <option value="http://data.judaicalink.org/datasets/rujen-translation">Translations
                                        for Rujen
                                    </option>
                                    <option value="http://data.judaicalink.org/datasets/rujen">Encyclopedia of Russian
                                        Jewry
                                    </option>
                                    <option value="http://data.judaicalink.org/data/date-enriched">Enrichment of Birth-
                                        and Deathdates
                                    </option>
                                    <option value="http://data.judaicalink.org/data/geo-enriched">Geographic
                                        Enrichment
                                    </option>
                                    <option value="http://data.judaicalink.org/data/jre">Resources on German-Jewish
                                        Education and Religion
                                    </option>
                                    <option value="http://data.judaicalink.org/data/haskala">The Library of Haskala
                                    </option>
                                    <option value="http://data.judaicalink.org/data/nli">Persons from NLI</option>
                                    <option value="http://data.judaicalink.org/data/ubffm">Persons from ubffm</option>
                                    <option value="http://data.judaicalink.org/data/stolpersteine">Stolpersteine in
                                        Mainz
                                    </option>
                                    <option value="http://data.judaicalink.org/data/dbpedia-persons">Persons from
                                        DBPedia
                                    </option>
                                    <option value="http://data.judaicalink.org/data/hirsch">Eine Jüdische Familie aus
                                        Aschaffenburg
                                    </option>
                                    <option value="http://data.judaicalink.org/data/geo-coor">Geographical Coordinates
                                    </option>
                                    <option value="http://data.judaicalink.org/data/gnd-persons">Persons from GND
                                    </option>
                                    <option value="http://data.judaicalink.org/data/interlinks">Encyclopedia
                                        Interlinks
                                    </option>
                                    <option value="http://data.judaicalink.org/data/bhr">Biographisches Handbuch der
                                        Rabbiner
                                    </option>
                                    <option value="http://data.judaicalink.org/data/djh">Das Jüdische Hamburg</option>
                                    <option value="http://data.judaicalink.org/data/2014links">Links to external
                                        sources
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-xl-12">
                            <div class="input-group">
                                <span class="input-group-text"> Output</span>
                                <select class="form-control" name="output" id="output">
                                    <option value="json">JSON</option>
                                    <option value="xml" selected>XML</option>
                                    <option value="text">Text</option>
                                    <option value="csv">CSV</option>
                                    <option value="tsv">TSV</option>
                                </select>
                            </div>

                        </div>
                        <div class="row col-xl-12">
                            <div class="input-group">
                                <span class="input-group-text">If XML output, XSLT style sheet (blank for none)</span>

                                <select name="stylesheet" class="form-control" id="stylesheet">
                                    <option value=""></option>
                                    <option value="/xml-to-html.xsl">xml-to-html</option>
                                    <option value="/xml-to-html-links.xsl">xml-to-html-links</option>
                                    <option value="/xml-to-html-plain.xsl">xml-to-html-plain</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-xl-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="force-accept" id="force-accept"
                                       value="text/plain"/>
                                <label class="form-check-label">Force the accept header to <tt>text/plain</tt>
                                    regardless</label>
                            </div>
                        </div>

                        <button class="btn btn-primary shadow" type="button" onclick="fetchSPARQL()" />Get Results</button>
                </form>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1>Results</h1>
                </div>
                <div class="row">
                    <textarea name="results" cols="70" rows="20" id="results"></textarea>
                </div>
            </div>

        </div>


    </main>


    <!--footer-->

    {% include "pubby/footer.html" %}

    <!--footer-->

{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xml-formatter-js/1.0.6/xml-formatter.min.js"></script>
    <script>
        function fetchSPARQL() {
                // Get form values
            const graphUri = encodeURI($('#default-graph-uri').val());
            const output = $('#output').val();
                const stylesheet = encodeURI($('#stylesheet').val());
                const forceAccept = encodeURI($('#force-accept').val());
                const query = encodeURIComponent($('#query').val());
                const url = 'https://data.judaicalink.org/sparql/query/?query=' + query + '&default-graph-uri=' + graphUri + '&output=' + output + '&stylesheet=' + stylesheet + '&force-accept=' + forceAccept;
                console.log(url);

                // Perform a GET request to fetch the XML data
                fetch('https://services.dnb.de/sru/zdb?operation=explain&version=1.1')
                    .then(response => response.text())
                    .then(data => {
                        var formatter = new XMLFormatter();
var formattedXml = formatter.format(data);
                        // Update the textarea with the XML data
                        document.getElementById('results').value = formattedXml;
                    })
                    .catch(error => {
                        console.error('Error fetching XML:', error);
                    });
            }

        $(document).ready(function () {

            function test(){


                // Send GET request and display response
                $.get(url, function (data) {
                    console.log(data);
                    $('#results').val(data);
                    $("#results").each(function () {
                        this.style.height = 'auto'; // reset height to auto to calculate new height
                        this.style.width = 'auto'; // reset width to auto to calculate new width
                        this.style.height = this.scrollHeight + 10 + 'px'; // set height to calculated height
                        this.style.width = this.scrollWidth + 10 + 'px'; // set width to calculated width
                    });
                });
            }
        });

    </script>
{% endblock %}
