<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{target_uri}}</title>
  </head>
  <body>
    <h1>{{target_uri}}</h1>

    {% include "pubby/table.html" %}

    <!-- <ul>
         <li>{{config.projectName}}</li>
         <li>{{path}}</li>
         <li>{{request_path}}</li>
         <li>{{host}}</li>
         <li>{{port}}</li>
         <li>{{config.webBase}}</li>
         <ul>
         {% for ds in config.dataset %}
         <li>{{ ds.datasetBase }}</li>
         {% endfor %}
         </ul>
         </ul> -->
    <!-- <a href="{% url 'pubby:index' %}">Index</a> -->

  </body>
</html>
