{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if resource_label %}
        <meta name="keywords" content="{{ resource_label }}">
    {% endif %}
    {% if wikidata_image_data %}
        <meta name="description" content="{{ wikidata_image_data.img_description }}">
    {% endif %}
    <title>JudaicaLink data</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'pubby/labs.css' %}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.judaicalink.org"]);
        _paq.push(["setDomains", ["*.judaicalink.org", "*.beta.judaicalink.org", "*.data.judaicalink.org", "*.labs.judaicalink.org", "*.web.judaicalink.org", "*.www.judaicalink.org"]]);
        _paq.push(["enableCrossDomainLinking"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://web.judaicalink.org/matomo/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img referrerpolicy="no-referrer-when-downgrade"
                      src="https://web.judaicalink.org/matomo/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt=""/>
    </p></noscript>
    <!-- End Matomo Code -->

</head>

<body>
<div class="wrapper">
    {% include "pubby/navbar.html" %}
    <div id="content">
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
<!-- Matomo Image Tracker-->
<img referrerpolicy="no-referrer-when-downgrade" src="https://web.judaicalink.org/matomo/matomo.php?idsite=1&amp;rec=1"
     style="border:0" alt=""/>
<!-- End Matomo -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>-->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->

<!--s. unten Symbole bei der sidebar-->
<!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
<script rel="javascript" src="{% static 'pubby/scripts.js' %}" type="javascript"></script>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>

<script src="{% static 'pubby/design.js' %}" type="javascript"></script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>
