{% load static %}


<footer class="row">
    <div class="col-md-12">
        <hr>
        <div class="footer-logos">
            <a href="https://www.hs-mannheim.de" target="_blank" rel="noopener noreferrer">
                <img id=thmannheimlogo src="{%  static 'img/TH_Mannheim_Logo_RGB_schwarz.png' %}" height="100px" alt="TH Mannheim Logo"/>
            </a>
            <a href="https://dm2e.eu" target="_blank"><img id=dmelogo
                                                           src="{% static 'img/DigitisedManuscriptstoEuropeana.png' %}"
                                                           alt="Digitised Manuscripts to Europeana Logo"/></a>
            <a href="https://www.ub.uni-frankfurt.de" target="_blank"><img id=ubflogo
                                                                           src="{% static 'img/ubfrankfurt.jpg' %}"
                                                                           alt="ub frankfurt Logo"/></a>
            <a href="http://www.jhn.ngo/judaica-europeana-archive/" target="_blank"><img id=jeulogo
                                                                                         src="{% static 'img/Judaica_Europeana.png' %}"
                                                                                         alt="Judaica Europeana Logo"/></a>
            <a href="https://pro.europeana.eu" target="_blank"><img id=euprologo
                                                                    src="{% static 'img/Europeana_pro.png' %}"
                                                                    alt="Europeana Pro Logo"/></a>
            <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img
                    src="{% static 'img/fid-logo.jpg' %}" alt="FID logo" class="logofidfooter d-md-none"/></a>
        </div>
        <div class="footer-content">
            <pre>Copyright &copy; WISS Research Group 2013-2022</pre>

            <pre><a href="https://web.judaicalink.org/faq/">FAQ</a> | <a href="https://web.judaicalink.org/about-us/">About</a> | <a href="https://web.judaicalink.org/legal/">Disclaimer</a> | <a href="https://web.judaicalink.org/legal/">Privacy Policy</a> | <a href="https://labs.judaicalink.org/contact/">Contact</a> | <a href="https://github.com/judaicalink">Github</a> | <a href="https://judaicalink-labs.readthedocs.io/en/master/">Docs</a></pre>
        </div>
    </div>
</footer>
