{% load static %}

<header class="row">
    <div class="col-md-12">


                    <button type="button" id="sidebarCollapse" class="btn btn-secondary buttonnav">
            <!-- tablet and laptop sizes start with x-button -->
            <i class="fa-solid fa-xmark d-none d-sm-block"></i>
            <!-- smartphone size starts with hamburger-menu-button (because the sidebar is collapsed)-->
            <i class="fa-solid fa-bars d-sm-none"></i>
                    </button>

        <div class="header-logos">
       <a href="https://web.judaicalink.org"><img src="{% static 'img/transp_judaica_data.png' %}" alt="JudaicaLink data logo" class="logo" loading="lazy"/></a>
    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img src=" {%  static 'img/fid-logo.jpg' %}" alt="FID logo" class="logofid d-none d-md-block" loading="lazy"/></a>
   </div>
    </div>
</header>