{% if not object.link %}
    {% for item in object.labels %}
        {% if item.label %}
            <span lang="{{item.label.language}}">
           {{item.label|truncatechars:length}}
          </span>
        {% else %}
            {{item.heuristic|truncatechars:length}}
        {% endif %}
    {% endfor %}
{% else %}
    <a href="{{object.link}}">
        {% for item in object.labels %}
            {% if item.label %}
                <span lang="{{item.label.language}}">
           {{item.label|truncatechars:length}}
              </span>
            {% else %}
                {{item.heuristic|truncatechars:length}}
            {% endif %}
            </span>
        {% endfor %}
    </a>
{% endif %}
