{% if not object.link %}
      {% for item in object.labels %}
        <span lang="{{item.language}}">
          {% if item.label %}
           {{item.label|truncatechars:40}}
        {% else %}
          {{item.qname.2|truncatechars:40}}
        {% endif %}
        </span>
      {% endfor %}
{% else %}
    <a href="{{object.link}}">
      {% for item in object.labels %}
        <span lang="{{item.language}}">
          {% if item.label %}
           {{item.label|truncatechars:40}}
        {% else %}
          {{item.qname.2|truncatechars:40}}
        {% endif %}
        </span>
      {% endfor %}
    </a>
{% endif %}
