{% extends 'pubby/base.html' %}
{% block content %}
{% load static %}


<!--content-->
    {% include "pubby/header.html" %}
<main class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8">


        <div style="word-wrap: break-word;">
    <h1 class="text-center text-md-left">{{resource_label}}</h1>
        </div>

        <div style="word-wrap: break-word;">
    <p class="text-center text-md-left">URI:
        <a href="{{resource_uri}}">{{resource_uri}}</a>
    </p>
        </div>


        {% if gndid|length >= 4 %}
        <a class="text-center text-md-left btn btn-outline-info" href="https://portal.jewishstudies.de/Search/Results?type=allfields&lookfor=gnd_from%3A{{gndid}}"><i class="fas fa-hanukiah"></i> see FID dataset</a>
        <br><br>
        {% endif %}


    <div class="table-responsive">

    <table class="table table-light table-striped">
      <tr><th scope="col" style="width: 35%">Property</th><th scope="col">Value</th><th>Label</th></tr>
      {% for predicate in primary_resource %}
      <tr>
        <td>
          {% if predicate.is_subject %}
          {% include "pubby/predicate_link.html" with predicate=predicate %}
          {% else %}
          is {% include "pubby/predicate_link.html" with predicate=predicate %} of
          {% endif %}
        </td>
        <td>
          {% if predicate.num_objects == 1 %}
          {% include "pubby/object_link.html" with object=predicate.objects.0 length=10000 %}
          {% else %}
          <ul>
            {% for object in predicate.objects %}
            <li>
              {% include "pubby/object_link.html" with object=object length=25 %}
                
                    {% for item in object.labels %}
                      {% if item.dataset_label != None %}
                      <span class="graph badge badge-info float-right">
                        {{item.dataset_label}}
                      </span>

                      {% endif %}
                    {% endfor %}

                
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>

        <td>
          {% if predicate.graph.link %}
          <a class="graph badge badge-secondary" href="{{predicate.graph.link}}">
            {{predicate.graph.label}}
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>


</div>



    <div class="col-md-0 col-lg-3 col-xl-4">
     <div class="img-fluid mt-4 sticky-top" id="picturemargintop30">
            <img src="{% static '/img/markus-winkler-aYPtEknQmXE-unsplash.jpg' %}" class="img-thumbnail img-fluid" alt="Dataset Picture">
       <br><br>
         <div style="word-wrap: break-word;">
         <p class="alert alert-info text-center">Dataset about: <b>{{resource_label}}</b></p>
         </div>

</div>
    </div>
        </div>

</main>


<!--footer-->

{% include "pubby/footer.html" %}

<!--footer-->

{% endblock content %}
