{% if predicate.is_subject %}
<a href="{{predicate.link}}">
  {% for item in predicate.labels %}
  {% include "pubby/span.html" with item=item %}
  {% endfor %}
</a>
{% else %}
is <a href="{{predicate.link}}">
  {% for item in predicate.labels %}
  {% include "pubby/span.html" with item=item %}
  {% endfor %}
</a> of
{% endif %}

{% if predicate.graph.link %}
<a class="graph" href="{{predicate.graph.link}}">
  {% for item in predicate.graph.label %}
  <span>
    {{item}}
  </span>
  {% endfor %}
</a>
{% endif %}

{% if predicate.num_objects > 7 %}
<br>
<span class=count>{{predicate.num_objects}}</span>
{% endif %}
